.wrapper {
    padding-top: 40px;
    background-color: rgb(243, 251, 254);
}
.container {
    background: url('../../assets/images/background.svg') center center / contain no-repeat;
    padding: 40px 100px 80px;
    max-width: 1280px;
    margin: 0 auto;
    @media (min-width: 414px) {
        padding: 0 40px;
    }
}
.video {
    width: 1080px;
    height: 680px;
    margin: 0 auto;
    @media (min-width: 414px) {
        width: 983px;
        height: 553px;
    }
}
.heading {
    font-weight: 600;
    font-size: 4rem;
    color: rgb(4, 17, 29);
    text-align: center;
}
.title {
    font-weight: 400;
    font-size: 1.6rem;
    color: rgb(53, 56, 64);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.sub-title {
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(112, 122, 131);
    text-align: center;
    margin-top: 10px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 80px;
}
