.header {
    position: sticky;
    top: 72px;
    height: 81px;
    width: 100%;
    right: 0px;
    padding: 10px 20px;
    z-index: 70;
    background-color: rgb(251, 253, 255);
    border-bottom: 1px solid rgb(229, 232, 235);

    &-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 80%;
        margin: auto;
    }
    .image-nft {
        margin: 0 20px;
        display: inline-flex;
        img {
            width: 48px;
            height: 48px;
            border-radius: 10px;
        }
    }
    .name-collection {
        font-weight: 500;
        font-size: 1.2rem;
        color: rgb(112, 122, 131);
    }
    .name-nft {
        font-weight: 600;
        font-size: 1.4rem;
        color: rgb(4, 17, 29);
    }
}

.container {
    display: flex;
    // justify-content: space-between;
    column-gap: 160px;
    width: 80%;
    margin: 50px auto;
}

.left {
    width: 50%;
    h3 {
        font-weight: 600;
        font-size: 2.4rem;
        color: rgb(4, 17, 29);
    }
    .sell-list {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .sell-item {
        &-header {
            p {
                font-weight: 600;
                font-size: 1.6rem;
                color: rgb(53, 56, 64);
            }
            svg {
                font-size: 2.4rem;
                color: rgb(112, 122, 131);
            }
        }
        &-body {
            margin-top: 10px;
            .ethereum {
                width: 30%;
                padding: 12px;
                margin-right: 10px;
                font-size: 1.6rem;
                color: rgb(4, 17, 29);
                outline: none;
                border: 2px solid rgb(229, 232, 235);
                border-radius: 10px;

                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                }
            }
            .price {
                flex: 1;
                padding: 12px;
                font-size: 1.6rem;
                color: rgb(4, 17, 29);
                outline: none;
                border: 2px solid rgb(229, 232, 235);
                border-radius: 10px;
            }
        }
    }
}

.right {
    width: 50%;
    .nft {
        width: 300px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(229, 232, 235);
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            max-height: 280px;
        }
    }
    .nft-info {
        padding: 10px;
    }
}
