.header {
    position: sticky;
    top: 72px;
    height: 81px;
    width: 100%;
    right: 0px;
    padding: 10px 20px;
    z-index: 70;
    background-color: rgb(251, 253, 255);
    border-bottom: 1px solid rgb(229, 232, 235);

    &-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 80%;
        margin: auto;
    }
}
