.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.heading {
    font-weight: 600;
    font-size: 2.4rem;
    color: rgb(4, 17, 29);
}

.arrow-down {
    font-size: 2rem !important;
    color: rgb(32, 129, 226);
}
.tabs {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
        font-weight: 600;
        font-size: 2.4rem;
        color: rgb(32, 129, 226);
    }

    .section {
        position: absolute;
        min-width: 250px;
        max-height: 350px;
        overflow-y: auto;
        top: 50px;
        left: 0;
        box-shadow: rgb(0 0 0 / 16%) 0px 4px 16px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        opacity: 0;
        cursor: pointer;
        &.active {
            opacity: 1;
        }
    }
}
