.wrapper {
    padding-top: 40px;
    padding-bottom: 40px;

    &.background {
        background-color: rgb(251, 253, 255);
    }
}

.title {
    font-weight: 600;
    font-size: 2.4rem;
    color: rgb(4, 17, 29);
    text-align: center;
}

.container {
    margin: 40px auto 20px;
}
