//Layout
.wrapper {
    position: sticky;
    top: 0px;
    height: 72px;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    background-color: rgb(255, 255, 255);
    transition: top 0.5s ease 0s;
    z-index: 120;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
//Logo
.logo-link {
    display: flex;
    align-items: center;

    img {
        max-width: 100%;
        width: 40px;
        height: 40px;
    }
    .logo-text {
        margin-left: 10px;
        font-weight: 700;
        font-size: 2.2rem;
    }
    @media screen and (max-width: 1279.98px) {
        padding-right: 30px;
    }
}

//Search
.search {
    display: flex;
    align-items: center;
    max-width: 768px;
    width: 100%;
    margin-left: 50px;
    // margin-right: -189px;
    border: 2px solid rgb(229, 232, 235);
    border-radius: 10px;
    padding: 0 12px;
    cursor: text;

    input {
        width: 100%;
        height: 100%;
        padding: 12px 0 12px 15px;
        border: 0;
        outline: 0;
        color: rgb(4, 17, 29);
        font-size: 1.6rem;

        &::placeholder {
            font-weight: 500;
        }
    }

    &:focus-within {
        border-color: rgb(138, 147, 155);
    }
    @media screen and (max-width: 1279.98px) {
        max-width: 502px;
        margin-right: 0;
    }
}

.search-icon,
.clear-icon {
    color: rgba(4, 17, 29, 0.75);
    font-size: 2.3rem !important;
    cursor: pointer;
}
//Menu
.menu {
    display: flex;
    align-items: center;
    height: 100%;
    @media screen and (max-width: 1279.98px) {
        margin-left: 15px;
    }
}

.menu {
    @media not all and (min-width: 1200px) {
        display: none;
    }
}
.menu-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    color: rgba(4, 17, 29, 0.75);
    font-weight: 600;
    padding: 0 25px;

    &::after {
        position: absolute;
        transition: background-color 0.4s ease 0s;
        background-color: transparent;
        bottom: 0%;
        content: '';
        display: block;
        height: 4px;
        left: 0px;
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &.active::after {
        background-color: rgb(32, 129, 226);
    }
}

//Account
.account {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 30px;
    cursor: pointer;
    @media screen and (max-width: 1279.98px) {
        margin-left: 0;
    }
}

.account-icon,
.account-wallet {
    font-size: 3.2rem !important;
    color: rgba(4, 17, 29, 0.75);
}

.account-wallet {
    margin-left: 50px;
    @media screen and (max-width: 1279.98px) {
        margin-left: 25px;
    }
}
