.header {
    position: sticky;
    top: 72px;
    height: 81px;
    width: 100%;
    right: 0px;
    padding: 10px 20px;
    z-index: 70;
    background-color: rgb(251, 253, 255);
    border-bottom: 1px solid rgb(229, 232, 235);

    &-container {
        display: flex;
        justify-content: flex-end;
        max-width: 1280px;
        margin: auto;
        padding: 0px 20px;
    }
}

.container {
    display: flex;
    max-width: 1280px;
    margin: 20px auto 0;
    padding: 8px 8px 16px;
}

.left-wrapper {
    width: 43%;
    flex-grow: 3;
    margin: 20px;
    .left-container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        border: 1px solid rgb(229, 232, 235);
        overflow: hidden;
    }
    .etherum {
        width: 1.2rem;
        color: gray;
    }
    .favorite-count {
        font-weight: 500;
        font-size: 1.2rem;
        color: rgb(112, 122, 131);
        margin-right: 10px;
    }
    .favorite-icon {
        font-size: 2rem;
        color: rgb(138, 147, 155);
    }
    .left-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        padding: 12px;
        height: 42px;
        width: 100%;
        background: rgb(255, 255, 255);
    }
    .left-media {
        display: inline-flex;
        flex: 1;
        height: 100%;
        max-height: 1000px;
        min-height: 200px;
        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            border-radius: initial;
        }
    }

    .left-panel {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 20px;
        border: 1px solid rgb(229, 232, 235);
        overflow: hidden;
    }
    .detail-item {
        margin-top: 8px;

        & p:first-child {
            color: rgb(4, 17, 29);
            font-size: 1.5rem;
        }

        & p:nth-child(2) {
            font-weight: 500;
            font-size: 1.4rem;
            color: rgb(112, 122, 131);
        }
    }
}

.right {
    width: 57%;
    margin-left: -20px;
    flex-grow: 4;
    max-width: 100%;
    &-header {
        margin: 20px 20px 15px;
    }
    &-panel {
        margin: 20px;

        &-item {
            margin: 10px 0 20px;
            border-radius: 10px;
            border: 1px solid rgb(229, 232, 235);
            background-color: rgb(255, 255, 255);
            overflow: hidden;
        }
    }
}
.collection-name {
    color: rgb(32, 129, 226);
    font-size: 1.6rem;
    font-weight: 400;
    &:hover {
        color: rgb(24, 104, 183);
    }
}
.nft-name {
    font-size: 3rem;
    font-weight: 600;
    max-width: 100%;
    margin: 10px 20px 15px;

    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.toolbar-item {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    // border-radius: 12px;
    justify-content: center;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 11px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(229, 232, 235);
    color: rgb(4, 17, 29);
    svg {
        font-size: 1.6rem;
    }
    &:nth-child(1) {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    &:not(:first-child) {
        margin-left: -2px;
    }
}

.nft-count {
    margin: 20px;
    color: rgb(112, 122, 131);

    font-size: 1.5rem;
    p {
        span {
            cursor: pointer;
            color: rgb(32, 129, 226);
        }
    }
    svg {
        font-size: 2.4rem;
        margin-left: 15px;
        margin-right: 10px;
    }
}
