@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --text-primary: rgba(4, 17, 29, 0.75);
    --primary: rgb(32, 129, 226);
    --white: white;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: unset;
}

body {
    .tippy-box {
        font-weight: 600;
        padding: 6px 10px;
    }
    .tippy-content {
        text-align: center;
    }
    .slick-slide {
        padding: 0 10px;
    }
    .slick-arrow {
        z-index: 99;
        &::before {
            content: '';
        }
        &:hover {
            color: rgb(4, 17, 29);
            background-color: rgb(255, 255, 255);
            transition: all 0.2s linear;
        }
        &:active {
            background-color: transparent;
            transition: all 0.2s linear;
        }
    }
}

.spacing {
    margin-top: 60px;
    margin-bottom: 100px;
}

.d-flex {
    display: flex;
}
